# Terragrunt cache directories
.terragrunt-cache/

# Terraform temporary directories
.terraform/
.terraformrc
terraform.rc

# Local state files and crash logs
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfplan

# Ignore override files as they are usually used to override resources locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json