{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "failComment": false,
        "labels": false
      }
    ],
    "@semantic-release/git"
  ],
  "branches": [
    "main"
  ]
}